/*-- scss:rules --*/
@font-face {
    /* excalidraw英文手写 ,注意在obsidian 中的excalidraw 使用 第一个手写字体,就是这里的了.
    使用m 号字体就可以了*/
    font-family: "Virgil";
    /* https://github.com/arrowtype/shantell-sans */
    /* 这里我用的是 tldraw 的手写英文字体
    Shantell_Sans-Normal-SemiBold.woff2
    Shantell_Sans-Normal-Medium.woff2 重命名的 */
    // 如果想该成你想要的手写字体, 你就复制过来改成这个名字, 因为 后续的svg里使用的字体就是这个名字和路径
    src: url("/stylesheets/font/Virgil-hand.woff2");
}
@font-face {
    // https://fonts.googleapis.com/css2?family=Pangolin&display=swap
    font-family: "pangolin";
    src: url("/stylesheets/font/pangolin.woff2");
}

div.sourceCode {
    background-color: #f5f5f5;
    border-color: #eff7fa;
    border-radius: 0.5rem;
}
pre.number-lines>code.sourceCode{
        border-left: 0.5px solid gray !important;
}
pre code {
    border-color: #fdf3d1 !important;
}
div.code-with-filename{
    .code-with-filename-file{
        border-color: #f5f5f5 !important;
         /* 上边 | 右边 | 下边 | 左边 */
        padding: 0.3rem 0.3rem 0.3rem 0.8rem;
        // border-top-left-radius: 5px 25px;
        // border-top-right-radius: 5px 25px; 
    }
    pre{
        border: none;
    }
}

ul.nav-tabs> li.nav-item > a.nav-link.active{
    background-color: #fdf3d1 !important;
}
.toc-active li>a.nav-link.active{
    border-left: 4px solid #f1a93c !important;
    background-color: #fdf5ec;
}
a.sidebar-link.active{
    border-left: 4px solid #56a451 !important;
    background-color: #f0f7f0; 
}




div.tab-content{
    padding: 0.8em;
    padding-bottom: 0.2em;
    border:1px solid gray;
    // border-radius: 0.5rem;
    border-radius: 255px 25px 225px 25px / 25px 225px 25px 255px;
    border-top-left-radius: 255px 25px;
    border-top-right-radius: 25px 225px;
    border-bottom-right-radius: 225px 25px;
    border-bottom-left-radius: 25px 255px;
}
ul.nav.nav-tabs{
    border-bottom: 0px;
}
div.callout{
    border-radius: 5px 5px 5px 5px / 25px 25px 25px 5px;
    border-top-left-radius: 5px 25px;
    border-top-right-radius: 5px 25px;
    border-bottom-right-radius: 5px 25px;
    border-bottom-left-radius: 5px;
    
}
div.callout-header{
    border-top-left-radius: 5px 25px;
    border-top-right-radius: 5px 25px; 
    font-family: "Cabin Sketch";
}
div.callout-body{
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    font-size: 1rem !important;
    font-family: "pangolin";
    color: #5e5e5e;
}

#quarto-sidebar{
    border-right: 1px solid #f5f5f5;
}

h2 {
    font-size: 1.8625em !important;
    font-weight: bold !important;
    color: #4fa0b5;
    // color: #ff79c6;
}
h3 {
    font-size: 1.5625em !important;
    font-weight: bold !important;
    color: #56a451;
}
h4 {
    font-size: 1.1625em !important;
    font-weight: bold !important;
    // color: #3270eb;
    color: orange;
}
h5 {
    font-size: 1.1625em !important;
    font-weight: bold !important;
    color: #9be51c;
}
#quarto-document-content li a , p>a{
    color:#3270eb;
}
div.panel-tabset a.nav-link{
    color: #333333 !important;
}
// div.panel-tabset a.nav-link.active{
// }
.txt-highlight{
    background-color: #fdf188;
}
.txt-underline {
    text-decoration: underline  #f2d8db ;
    text-decoration-thickness: 0.2em;
}
// 点击navbar后,显示的页面里的
.link-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "pangolin";
}
div.code-annotation-gutter-bg{
    background-color: #f5f5f5;
    // 代码有 #<1> 这种情况 右边的标号所在的窗口会在
    // 代码的div上方,这样会将代码给截断,这里设置它靠后
    z-index:-100;
}
div.code-annotation-gutter{
    background-color: #f5f5f5;
    z-index:-100;
}
a.code-annotation-anchor{
    background-color: #9be51c !important;
}
dl.code-annotation-container-grid {
    background-color: #f2f7f1 ;
    
    dd{
        // vertical-align: middle;
        margin-bottom: 0;
        span{
            margin-top: 0.5rem;
        }
    }
    dt{
        background-color: #94c644;
        height:19px;
        width: 19px;
        line-height: 19px;
        margin-bottom: 0.2rem;
    }
    dt.code-annotation-active{
        color: black !important;
        border: solid #aaa 1px;
        background-color: yellow !important;
    }
}