/*-- scss:rules --*/
div#code-annotation-line-highlight {
  background-color: #2f3d49;
}

div.code-annotation-gutter-bg {
  background-color: transparent;
  // 代码有 #<1> 这种情况 右边的标号所在的窗口会在
  // 代码的div上方,这样会将代码给截断,这里设置它靠后
  z-index: -100;
}
div.code-annotation-gutter {
  background-color: transparent;
  z-index: -100;
}
a.code-annotation-anchor {
  background-color: var(--quarto-hl-er-color) !important;
}
button.code-annotation-anchor {
  background-color: var(--quarto-hl-er-color) !important;
}

a.sidebar-link.active {
  border-right: 2px solid #56a451 !important;
  background-color: #2f3d49;
}

.toc-active li > a.nav-link.active {
  border-left: 2px solid #f1a93c !important;
  background-color: #2f3d49;
}
.txt-highlight {
  background-color: #2f3d49;
}



.quarto-dark .code-with-filename .code-with-filename-file {
  background-color: #5c37c0;
  opacity: 55%;
}
div.code-result{
  div.sourceCode:first-child{
    margin-bottom: 0;
  }
}