/*-- scss:rules --*/
:root {
  --md-code--highlight-bg-color: #323d48;
  --text-title-h2: #ff79c6;
  --text-title-h3: orange;
  --text-title-h4: #3270eb;
  /* #f0fd57; */
  --text-title-h5: #9be51c;
  --title-block-banner-index-color: #6847ba;
}
h2 {
  color: var(--text-title-h2);
  .header-section-number {
    color: var(--text-title-h2);
  }
}
h3 {
  color: var(--text-title-h3);
  .header-section-number {
    color: var(--text-title-h3);
  }
}
h4 {
  color: var(--text-title-h4);
  .header-section-number {
    color: var(--text-title-h4);
  }
}
h5 {
  color: var(--text-title-h5);
  .header-section-number {
    color: var(--text-title-h5);
  }
}

// div#code-annotation-line {
//   background-color: #2f3d49;
div#code-annotation-line-highlight {
  background-color: #2f3d49;
}

div.code-annotation-gutter-bg {
  background-color: transparent;
  // 代码有 #<1> 这种情况 右边的标号所在的窗口会在
  // 代码的div上方,这样会将代码给截断,这里设置它靠后
  z-index: -100;
}
div.code-annotation-gutter {
  background-color: transparent;
  z-index: -100;
}
a.code-annotation-anchor {
  background-color: #de797b !important; // var(--quarto-hl-er-color) !important;
  color: #312770 !important;
  border: solid #312770 1px !important;
}
button.code-annotation-anchor {
  background-color: #de797b !important; //var(--quarto-hl-er-color) !important;
  color: #312770 !important;
  border: solid #312770 1px !important;
}
.code-annotation-container-grid dt[data-target-cell] {
  background-color: var(--quarto-hl-er-color) !important;
  color: #312770;
  border: solid #312770 1px;
}
a.sidebar-link.active {
  border-right: 2px solid #56a451 !important;
  background-color: #2f3d49;
}

.toc-active li > a.nav-link.active {
  border-left: 2px solid #f1a93c !important;
  background-color: #2f3d49;
}
.txt-highlight {
  background-color: #2f3d49;
}

.quarto-dark .code-with-filename .code-with-filename-file {
  background-color: #5c37c0;
  opacity: 55%;
}
div.code-result {
  div.sourceCode:first-child {
    margin-bottom: 0;
  }
  div.code-with-filename:first-child {
    div.sourceCode {
      margin-bottom: 0;
    }
  }
  div.callout {
    margin-top: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border-radius: 0.2rem;
    div.callout-header {
      background-color:#39267c;
      color: #ec82c3;
    }
    div.callout-body-container.callout-body {
      margin: 0;
      padding: 0;
    }
  }
}

.code-with-filename-file {
  strong {
    // color:#f1a93c
    color: #ec82c3;
  }
}

div.callout div.callout-body {
  color: #cdcdcd;
}
